<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>社团</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/club.css" />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1043675_acs1xq591dk.css">
    <link rel="shortcut icon" href="../favicon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script/base.js"></script>
    <script src="script/md.js"></script>
    <script src="script/club.js"></script>
</head>
<body>
<div class="post-panel">
    <div class="post-box">
        <input id="title" placeholder="公告标题"/>
        <textarea id="content" placeholder="公告内容，支持Markdown"></textarea>
        <span class="button" id="post-button">发布</span>
    </div>
</div>
<div class="warper">
    <div class="title-bar">
        <span class="title-bar-name">社团名称</span>
    </div>
    <div class="container">
        <div class="notice-panel">
            <span class="title">最新公告</span>
            <span class="content">公告内容预留</span>
            <span class="activity-time">2019年1月4日</span>
        </div>
        <div class="function-panel">
            <span class="list-name">功能列表</span>
            <div class="function"><i id="notic" class="iconfont icon-gonggao1" style="background: #F5B7B1"></i></div>
            <div class="function"><i class="iconfont icon-huodong" style="background: #F9E79F"></i></div>
            <div class="function"><i class="iconfont icon-youxi" style="background: #AED6F1"></i></div>
            <div class="function"><i class="iconfont icon-lang" style="background: #76D7C4"> </i></div>
            <div class="function"><i class="iconfont icon-kaochakechengkaohefangshishenpi" style="background: #C39BD3"></i></div>
            <div class="function"><i class="iconfont icon-zuoye" style="background: #EDBB99"></i></div>
        </div>
    </div>
</div>
</body>
</html>