<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>创建社团</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/create-club.css" />
    <link rel="shortcut icon" href="../favicon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script/base.js"></script>
    <script src="script/create-club.js"></script>
</head>
<body>
<div class="warper">
    <div class="title-bar">
        <span class="title-bar-name">创建社团</span>
    </div>
    <div class="container">
        <div>
            <img src="assets/guide.png" class="guide"/>
        </div>
        <input type="text" maxlength="10" placeholder="社团名" id="club-name"/>
        <label for="club-name">社团</label>
        <input type="text" maxlength="10" placeholder="一句话描述社团" id="intro"/>
        <label for="intro">介绍</label>
        <span class="button create-club">创建</span>
    </div>
</div>
</body>
</html>