<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" />
    <link rel="shortcut icon" href="../favicon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script/base.js"></script>
    <script src="script/login.js"></script>
</head>
<body>
<div class="warper">
    <div class="title-bar">
        <span class="title-bar-name">登录</span>
    </div>
    <div class="container">
        <div class="login-container">
            <img src="msc.png" class="avatar" id="avatar" />
            <input type="number" class="login-input" id="phone"/>
            <label for="phone" class="input-label">手机号</label>
            <input type="password" class="login-input" id="password"/>
            <label for="password" class="input-label">密码</label>

            <span class="button login-button">登录</span>
        </div>
        
    </div>
    <div class="tool-bar">
        <span id="no-account">没有账号</span>
        <span id="find-password">找回密码</span>
    </div>
</div>
</body>
</html>