<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crapes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
    <link rel="shortcut icon" href="../favicon.png" /> 
    <script src="script/jquery-3.3.1.min.js"></script>
    <script src="script/touche.js"></script>
    <script src="script/base.js"></script>
    <script src="script/main.js"></script>
</head>
<body>
    <div class="warper">
        <div class="title-bar">
            <span class="title-bar-name">Crapes</span>
        </div>
        <div class="search">
            <div class="search-box">
                搜索社团
            </div>
        </div>
        <div class="container">
            <div class="refresh-container">
                <div class="refresh">
                    <span>本APP只能下拉，不能刷新</span>
                    <span style="font-size:8px">不服憋着</span>
                </div>
            </div>
            <div class="fragment-container">
            </div>     
        </div>
        <div class="navigation">
            <i class="iconfont icon-home navigation-item-unselected" id="home"></i>
            <i class="iconfont icon-local-activity navigation-item-unselected" id="activity"></i>
            <i class="iconfont icon-user navigation-item-unselected" id="user"></i>
        </div>
    </div>
</body>
</html>